body{
    background-color:#A9CAEF;
}

.caja{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    border-color: #5495DF;
    border-radius: 5px;
    border-top: solid 0px;
    border-left: solid 0px;
}

.cabecera{
    padding: 10px;
}

.contenido{
    padding: 10px;
    border-top: solid 2px #5495DF;
}


.pie{
    padding: 10px;
    /* border-top: solid 1px #5495DF; */
}

.botona{
    background-color: #0090ff;
    padding: 5px;
    border: 0px;
    color: white;
}

.botonc{
    background-color: #c0bcbc;
    padding: 5px;
    border: 0px;
    color: rgb(0, 0, 0);
}