body{
    background-color:#A9CAEF;
}

.caja{
    background-color:whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: #5495DF;
    border-radius: 4px;
    border-top: solid 0px;
}

.cabecera{
    padding: 10px;
}

.contenido{
    padding: 10px;
    border-top: solid 1px #5495DF;
}


.pie{
    padding: 10px;
    border-top: solid 1px #5495DF;
}

.botona{
    background-color: #0090ff;
    padding: 5px;
    border: 0px;
    color: white;
}

.botonc{
    background-color: #2161AB;
    padding: 5px;
    border: 0px;
    color: whitesmoke;
}